body{
  background-color: silver;
}

.todo-list{
  margin: auto;
  width: 50%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #efefef;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.todo-item{
  display:  flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  
}

input[type=checkbox]{
  margin-right: 10px;
}